<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-heading">
                        <h1>Feature One</h1>
                    </div>
                    <div class="panel-body">
                        <p>Something Something</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn btn-sm btn-success">
                        Read More
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
